<div class="form--skew bg-light shadow">
    <div class="form--unskew">
        <h2 class="form--header text-secondary">WELCOME BACK</h2>
        <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-group">
                <label for="" class="form--label text-primary">Email</label>
                <input type="email" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
                <label for="" class="form--label text-primary">Password</label>
                <input type="password" class="form-control" formControlName="password">
            </div>
            <button class="form--submit btn btn-success btn-block shadow-sm" [disabled]="!loginForm.valid">LET'S GO</button>
        </form>
    </div>
</div>