<div class="card border-light shadow-sm">
    <div class="card-header bg-info text-white">
        <span class="travelLocation card-title">{{ travel.travelCity | uppercase }}<br>{{ travel.country.longName |
            uppercase }}</span>
        <span class="travelFlag pull-right">{{ travel.country.flagUrl }}</span>
    </div>
    <div class="card-body">
        <p class="travelRating text-center"><b>{{ travel.rating }} / 10</b></p>
        <p class="travelComments card-text">{{ travel.comments }}</p>
    </div>
    <div class="card-footer">
        <span class="travelDate text-muted">{{ travel.travelDate | date }}</span>
        <a class="pull-right text-danger" *ngIf="user.id == travel.userId" href="">Delete</a>
    </div>
</div>