<div class="container">
    <div class="row card-group">
        <div class="col-md-4 card shadow-sm" *ngFor="let t of user.travels">
            <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
            <div class="">
                <h5 class="bg-primary card-header text-white">{{ t.travelCity }}, {{
                    t.country.shortName }}</h5>
                <p class="card-text text-success text-center card--rating"><strong>{{ t.rating }} / 10</strong></p>
                <p class="card-text text-muted card--comments">{{ t.comments }}</p>
                <p class="card-footer text-center"><small class="text-muted">{{ t.travelDate | date }}</small></p>
            </div>
        </div>
    </div>
</div>