<!-- HIDE FEATURE HERE -->
<form class="form" [formGroup]="searchForm" (ngSubmit)="submitSearch()">
    <div class="form-group">
        <label for="" class="form--label text-primary">Country</label>
        <select class="form-control" formControlName="countryId">
            <option selected="true" disabled="disablsed">Country Selection</option>
            <option *ngFor="let country of countries" [value]="+country.id">{{ country.longName }}</option>
        </select>
    </div>

    <label for="" class="form--label text-primary active">Ordering</label><br>
    <div class="btn-group form-group">
        <label class="btn btn-outline-info radio-btn" [(ngModel)]="orderByVal" btnRadio="rating" role="button"
            formControlName="orderBy">Rating</label>
        <label class="btn btn-outline-info radio-btn" [(ngModel)]="orderByVal" btnRadio="recency" role="button"
            formControlName="orderBy">Recency</label>
    </div>

    <div class="form-group">
        <button class="btn btn-success btn-block shadow">SEARCH IT</button>
    </div>
</form>