<form class="form" [formGroup]="searchForm" (ngSubmit)="submitSearch()">
    <div class="form-group">
        <label for="" class="form--label text-primary">Country</label>
        <select class="form-control" formControlName="countryId">
            <option selected="true" disabled="disablsed">Country Selection</option>
            <option *ngFor="let country of countries" [value]="+country.id">{{ country.longName }}</option>
        </select>
    </div>

    <label>
        <input type="radio" value="rating" formControlName="orderBy" name="orderBy">
        <span>Rating</span>
    </label>
    <label>
        <input type="radio" value="recency" formControlName="orderBy" name="orderBy">
        <span>Recency</span>
    </label>

    <button class="btn btn-outline-success shadow">SEARCH IT</button>
</form>