.form--skew {
    margin: 2rem auto;
    max-width: 20rem;
    transform: skewX(-5deg);
}

.form--unskew {
    transform: skewX(5deg);
    padding: 1.5rem;
}

.form--header {
    margin-bottom: 1rem;
    letter-spacing: 2px;
}

.form--label {
    margin-bottom: 3px;
}

.form--submit {
    margin-top: 1.5rem;
    letter-spacing: 2px;
}